@model CodeFirst1710.Models.TvcKhach_Hang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TvcKhach_Hang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcMaKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcMaKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcHoTenKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcHoTenKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcMatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcMatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcDiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcDiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcNgayDangKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcNgayDangKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tvcTrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tvcTrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.tvcId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
